<div class="content container-fluid" role="main">
    <!-- click to navigate user list -->
    <button type="button" class="btn-success btn m-5" [routerLink]="['/user/list']">User List</button>
    <router-outlet></router-outlet>
</div>