<!-- click to download PDF -->
<button class="float-right btn btn-primary m-5" (click)="pdf.saveAs('document.pdf')">Save As PDF</button>

<!-- user list in table -->
<h4 class="text-center text-primary">User Details</h4>
<table class="table table-bordered">
    <thead>
        <tr class="active">
            <th>Name</th>
            <th>Degree</th>
            <th>Total Mark</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userlist of userLists">
            <td>{{userlist?.name}}</td>
            <td>{{userlist?.degree}}</td>
            <td>{{userlist?.totalMark}}</td>
        </tr>
    </tbody>
</table>
<!-- PDF Download -->
<div class="pdf">
    <kendo-pdf-export #pdf paperSize="A4" margin="2cm">
        <h4 class="text-center text-primary">User Details</h4>
        <table class="table table-bordered">
            <thead>
                <tr class="active">
                    <th>Name</th>
                    <th>Degree</th>
                    <th>Total Mark</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userlist of userLists">
                    <td>{{userlist?.name}}</td>
                    <td>{{userlist?.degree}}</td>
                    <td>{{userlist?.totalMark}}</td>
                </tr>
            </tbody>
        </table>
    </kendo-pdf-export>
</div>