/* You can add global styles to this file, and also import other style files */

.float-right {
    float: right;
}

.m-5 {
    margin: 5px!important;
}

.pdf {
    position: absolute;
    left: -1500px;
    top: 0;
}

.pdf h4 {
    font-size: 12px;
}

.pdf .table tr th {
    font-size: 8px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.pdf .table tr td {
    font-size: 8px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}